@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;300;500;700&display=swap');

*{box-sizing: border-box;
    font-family:'Kanit', sans-serif;
    padding: 0%;
    margin: 0%;
}

 
#body{margin: 0%;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 0.4fr 1fr 0.1fr ;
    grid-template-areas:
    "header"
    "main"
    "footer"
}  

.container-fluid{
    padding: 0px;
    margin: 0px;
}


.header {grid-area: header; 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
     
    margin: 0px;
    padding: 80px;
    box-sizing: border-box;
    background-color: #4090af;
}


.imagen__header{
    box-sizing: border-box;
    position: relative;
    top: 8%;
    left: 8%;
   }

.header__h1{color: #181f22;
    font-size: 45px;
    position: relative;
    top: 8%;
    left: 34%;
    height: 100px;
    transition: 1s;
}

.header__h1:hover{font-size: 48px;
   color: #181f22;
   opacity: 1;
}   

.header__slogan{
    display: block;
    color: #181f22;
    font-size: 14px;
    position: relative;
    top: 55px;
    left: 16.5%;
}


.header__nav { 
    flex-wrap: nowrap;
    /*flex-direction: column;*/
    }    

.nav__ul{position: relative; 
    bottom: 70%;
    left: 54%;
    font-size: 16px;
    gap: 15px;
    list-style-type: none;
    }

.ul__li{
    display: inline-block;
    margin: 3px;
}

.ul__li a{ color: #181f22;
    text-decoration: none;
    }

    .li.active{ text-decoration: underline;

    }

.ul__li a:hover{
        text-decoration: underline;
        
}

.h3{
    display: flex;
    align-items: center;
}

#index__main { grid-area: main;
    padding: 32px;
     display: flex;
     flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    color:black;  
}

.main__p1{text-align: center;
    max-width: 50%;
    max-height: 60%;
}

.main__maps{
    margin: 10px;
    }

#index__section1{ 
    display: flex;
   justify-content: space-around;
   align-items: center;
   flex-direction: row;
color:black;   
}

#biografiaehistoria{ margin: 40px;
    padding: 55px;
    position: relative;
    display: flex;
   justify-content: space-around;
   align-items: center;
   flex-direction: column;
color:black;   
}

.section1__aside1{
    max-width: 60%;
    max-height: 50%;
}


.aside1__img1{
    background-color: blue;
    display: inline-block;
}

#contacto__section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 32px;
}

.section__enlaces{
    
    margin: 40px;
}


#footer{ 
    grid-area: footer; 
    color: #181f22;
    padding: 10px 100px 10px 100px;
    background-color: #4090af;
    }

.pie{
    color: #181f22;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
}

.footer{
padding: 5px;
transition: 1s;
}

.footer{
    
    padding: 5px;
}

.footer{
   
    padding: 5px;
}

.footer:hover{
    text-decoration: underline;
    font-size: 18px;
}

#quienessomos__section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    }
   
.h3quienes{
    margin: 25px 0px 0px 0px;
}    


.section2__article1{display: flex;
    flex-direction: row;
    color: black;
    padding: 32px;
    margin: 25px;
}

#section__gal{    
    padding: 35px;
}

.gal__article1{ display: flex;
    color: black;
}

.gal__article2{
padding: px;
}

.article__galeria{padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.imagenes{
    margin: 5px;
}



@media screen and (max-width: 480px){
*{
    margin: 0px;
    margin: 0px;
}
    #body{margin: 0%;
    height: auto;
    width: auto;
    padding: auto;
        display: grid;
        grid-template-columns: 1;
        grid-template-rows: 0.2fr 1fr 0.1fr ;
        grid-template-areas:
        "header"
        "main"
        "footer"
    }  

    .header{ grid-area: header;
        padding: 32px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

.header__h1{position: relative;
    text-align: center;
    top: 0px;
    left: 25px;
    font-size: 25px;
grid-area: header;}

.header__slogan{
    display: none;
}

.header__nav{
    position: relative;
    margin: 0px;
}

.nav__ul{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.ul__li a{ 
    margin: 0px;
     }


.imagen__header{
    display: none;
}

.nav__ul{position: relative;
    top: 1%;
    left: 5%;
}

.ul__li{display: flex;
    flex-direction: row;
    padding: 0px;
    margin: 5px;
    /*position: relative;
    bottom: 50%;
    left: 35%;*/
}

#index__main{padding: 0px;
    margin: 0px;
    grid-area: main;
    position: relative;
     display: flex;
     flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: row;
    color:black;  
}

.main__maps{height: 10px;
    width: 10px;}

#contacto__section{
    padding: 32px;
}    

#quienessomos__section{
    padding: 0px;
    margin: 0px;
}

.section2__article1{display: flex;
    flex-direction: column;
    padding: 0px;
}

#section__gal{
    padding: 0px;
    margin: 15px;
}

#footer{ position: relative; 
    grid-area: footer; 
    color: #181f22;
    padding: 10px 100px 10px 100px;
    background-color: #4090af;  
}

.pie{
    color: #181f22;
    font-size: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.footer{
    margin: 15px;
}
  }
    
