@import "quienessomos";
@import "galeria";
@import "contacto";
@import "biografiaehistoria";
@import "mediascreen";


#body{margin: 0%;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 0.4fr 1fr 0.1fr ;
    grid-template-areas:
    "header"
    "main"
    "footer"
}  

.header {grid-area: header; 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
     
    margin: 0px;
    padding: 80px;
    box-sizing: border-box;
    background-color: #4090af;

    .imagen__header{
        box-sizing: border-box;
        position: relative;
        top: 8%;
        left: 8%;
       }
    
    .header__h1{color: #181f22;
        font-size: 45px;
        position: relative;
        top: 8%;
        left: 34%;
        height: 100px;
        transition: 1s;
    }
    
    &:hover{font-size: 48px;
       color: #181f22;
       opacity: 1;
    }   
    
    .header__slogan{
        display: block;
        color: #181f22;
        font-size: 14px;
        position: relative;
        top: 55px;
        left: 16.5%;
    }
      .header__nav { 
        flex-wrap: nowrap;

        .nav__ul{position: relative; 
            bottom: 70%;
            left: 54%;
            font-size: 16px;
            gap: 15px;
            list-style-type: none;

            .ul__li{
                display: inline-block;
                margin: 3px;
            }
            .ul__li a{ color: #181f22;
                text-decoration: none;
                }
            
                .li.active{ text-decoration: underline;
            
                }
            
            .ul__li a:hover{
                    text-decoration: underline;
                    
            }
        }
       }    
    
  }

#index__main { grid-area: main;
    
    display: flex;
    flex-wrap: wrap;
   justify-content: space-around;
   align-items: center;
   flex-direction: row;
   color:black;  

   .main__p1{text-align: center;
    max-width: 50%;
    max-height: 60%;
}

.main__maps{
    
    margin: 10px;
    }
}

#footer{ 
    grid-area: footer; 
    color: #181f22;
    padding: 10px 100px 10px 100px;
    background-color: #4090af;

    .pie{
        color: #181f22;
        font-size: 15px;
        display: flex;
        justify-content: space-between;
        .footer{
            padding: 5px;
            transition: 1s;
            }
            &:hover{
                text-decoration: underline;
                font-size: 18px;
            }
    }
    
}
